.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    max-width: 470px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 88%;


}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 31px;

    border-radius: 4px;
    background: var(--color-gray-3);

    color: white;
    font-family: Inter;
    font-size: 9.594px;
}

.box {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin-bottom: 15px;
    }
}