.container {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color-gray-3);
    width: 85%;
    border-radius: 3px;


    &.sm{
        max-width: 470px;
        margin-bottom: 15px;
    }
}