.title {

    font-family: Inter;

    &.one {
        color: var(--color-gray-0);
        font-size: 14.392px;
        font-style: normal;
        font-weight: 700;
        line-height: 22.387px;
    }

    &.two {
        color: var(--color-gray-0);
        font-size: 0.6088rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0px;
    }

    &.tree {
        color: var(--color-gray-0);       
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.364px;        
    }

    &.pdash {
        color: var(--color-gray-1);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    &.tdash {
        color: var(--color-gray-0);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    &.p {
        color: var(--color-gray-1);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 17.59px;
    }
    
}