header {
    background-color: var(--color-gray-4);
    width: 100%;
    height: 70px;

    img {
        width: 105.527px;
        height: 14.631px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.container {
    max-width: 600px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 88%;
}