button {
    margin-top: 10px;
}

select {
    width: 100%;
    background-color: var(--color-gray-2);
    border-radius: 3.198px;
    border: 0.974px solid var(--color-gray-2);
    height: 2.3rem;
    margin-top: 6px;
    margin-bottom: 6px;
}